* {
	box-sizing: border-box;
}

body {
	background-color: #002b36;
	color: #fdf6e3;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}

a,
.link {
	color: #b58900;
	cursor: pointer;
	text-decoration-line: underline;
}

table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid #586e75;
}

th {
	background-color: #586e75;
}

kbd, input, select {
	color: #fdf6e3;
	border: 1px solid #b58900;
	background-color: #002b36;
	border-radius: 2px;
	padding: 2pt;
	margin: 2pt;
}

input, select {
	cursor: pointer;
}

input:disabled, input:disabled:hover,
select:disabled, select:disabled:hover {
	background-color: #002b36;
	color:#586e75;
	cursor: not-allowed;
}

option {
	background-color: #586e75;
}

kbd {
	margin: 4px;
	padding: 2px;
	min-width: 22px;
	display: inline-block;
	text-align: center;
	font-style: normal;
}

input:hover, select:hover {
	background-color: #586e75;
}

.hidden {
	display: none !important;
}

.flexContainer {
	display: flex;
}

.flexContainer.centered {
	justify-content: center;
}

.flexContainer.centerAlign {
	align-content: center;
}

.thing {
	margin: 4px;
	padding: 4px;
}

div#lastUpdatedDiv {
    min-height: 16pt;
}

.smaller {
	font-size: smaller;
}

.flair {
	border-radius: 3px;
}

.info {
	font-style: italic;
}

.spinner {
	display: inline-block;
	font-style: normal;
	width: 18pt;
	height: 18pt;
	text-align: center;
	animation: spinner .5s ease-out infinite;
}

.rightalign {
	text-align: right;
}

.flex-grow {
	flex-grow: 1;
}

.rotateLeft {
	display:inline-block;
	transform: rotate(270deg);
}

.rotateRight {
	display:inline-block;
	transform: rotate(90deg);
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
