:root {
	--base03: #002b36;
	--base02: #073642;
	--base01: #586e75;
	--base00: #657b83;
	--base0: #839496;
	--base1: #93a1a1;
	--base2: #eee8d5;
	--base3: #fdf6e3;
	--yellow: #b58900;
	--orange: #cb4b16;
	--red: #dc322f;
	--magenta: #d33682;
	--violet: #6c71c4;
	--blue: #268bd2;
	--cyan: #2aa198;
	--green: #859900;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--base03);
	color: var(--base3);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}

a,
.link {
	color: var(--yellow);
	cursor: pointer;
	text-decoration-line: underline;
}

table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid var(--base01);
}

th {
	background-color: var(--base01);
}

kbd, input, select {
	color: var(--base3);
	border: 1px solid var(--yellow);
	background-color: var(--base03);
	border-radius: 2px;
	padding: 2pt;
	margin: 2pt;
}

input, select {
	cursor: pointer;
}

input:disabled, input:disabled:hover,
select:disabled, select:disabled:hover {
	background-color: var(--base03);
	color:var(--base01);
	cursor: not-allowed;
}

option {
	background-color: var(--base01);
}

kbd {
	margin: 4px;
	padding: 2px;
	min-width: 22px;
	display: inline-block;
	text-align: center;
	font-style: normal;
}

input:hover, select:hover {
	background-color: var(--base01);
}

.hidden {
	display: none !important;
}

.flexContainer {
	display: flex;
}

.flexContainer.centered {
	justify-content: center;
}

.flexContainer.centerAlign {
	align-content: center;
}

.thing {
	margin: 4px;
	padding: 4px;
}

div#lastUpdatedDiv {
    min-height: 16pt;
}

.smaller {
	font-size: smaller;
}

.flair {
	border-radius: 3px;
}

.info {
	font-style: italic;
}

.spinner {
	display: inline-block;
	font-style: normal;
	width: 18pt;
	height: 18pt;
	text-align: center;
	animation: spinner .5s ease-out infinite;
}

.rightalign {
	text-align: right;
}

.flex-grow {
	flex-grow: 1;
}

.rotateLeft {
	display:inline-block;
	transform: rotate(270deg);
}

.rotateRight {
	display:inline-block;
	transform: rotate(90deg);
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
