td, th {
	padding: 4pt;
	max-width: 16em;
}

#lastUpdatedWrapper {
	display: flex;
	flex-direction: row-reverse;
	min-height: 24pt;
}

.smallthumb {
	display: inline-block;
	max-height: 48pt;
	max-width: 48pt;
}

.tableWrapper {
  position: relative;
  width: 100%;
}

.mainContent {
	max-width: 960pt;
	margin:16pt;
}

#tableHeader {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

#tableOverlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #00000044;
}

.lastUpdated {
	align-self: flex-end;
}

.tr {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid #463D51;
}

.tr > div {
	width: 100%;
	display: flex;
	align-items: center;
}

.tr > div.bossLink, .totalDmg {
	background-color: #463D51;
	font-weight: bold;
}

.tr > .bossData {
	min-height: 32pt;
	text-align: center;
}

.tr > .bossData > .td {
	flex-shrink: 0;
}

.td {
	flex-grow: 1;
}

.flex-grow {
	flex-grow: 1;
}

.refresherLink {
	font-size: x-large;
	flex-shrink: 0;
	text-align: center;
	min-height: 24pt;
	min-width: 24pt;
	text-decoration: none;
}

@media (min-width: 800px) {
	.tr > .bossLink, .tr > .bossData {
		width: 48%;
	}
	.tr {
		flex-direction: row;
	}
}
