p {
    margin: 0;
}

#inputForm {
    padding: 4pt;
}

#hideHeader, #showHeader {
    flex-shrink: 0;
    font-size: smaller;
    text-decoration: none;
    border-bottom: 1px solid var(--base00);
}

.flexContainer.centerAligned {
    align-items: center;
}

#postTitleWrapper {
    background-color: var(--base02);
    flex-direction: column;
}

#postTitle {
    font-size: large;
    font-weight: bold;
    margin: 4pt;
}

#postFlair {
    flex-shrink: 0;
}

#postFlair>span {
    padding: 4px;
}

.contentWrapper {
    max-width: 600pt;
    margin: 0 auto 0 auto;
}

#mainContentWrapper {
    margin-top: 1em;
    margin-bottom: 5em;
}

.mainContent {
    margin: 8pt;
}

.mainContent > div {
    overflow: hidden;
}

#postLink {
    width: 30em;
}

#refreshRate {
    width: 5em;
}

div.tile {
    min-height: 18pt;
}

.label {
    font-weight: bold;
    display: inline-block;
}

.authorFlair {
    font-size: smaller;
    display: inline-block;
}

img.authorFlairEmoji {
    max-height: 12pt;
    margin: 2pt 0 0 2pt;
}

#numComments {
    color: var(--fg-light);
    font-weight: bold;
    font-size: large;
}

.spinner.idle {
	color: var(--red);
	animation: none;
}

.comment,
.commentDelta {
    transform: scale(1.05);
    font-size: large;
    transform-origin: center;
}

.commentDelta.seen {
    font-size: small;
}

.commentDelta.nonzero {
    font-size: large;
    font-weight: bold;
}

.badge {
    color: var(--base02);
    padding: 4px;
    border: 1px solid var(--base2);
    border-radius: 5px;
}

.badge.low {
    background: var(--green);
}

.badge.medium {
    background: var(--yellow);
}

.badge.high {
    background: var(--red);
}

.seen {
    transform: scale(1);
}

.tween {
    transition: transform 0.2s linear;
}

.comment {
    border-left: 2px solid var(--green);
}

.replies>.comment {
    margin-left: 16px;
}

.comment>.content {
    font-size: smaller;
    background-color: var(--base02);
}

#commentDeltaHistory {
    display: flex;
    align-items: flex-end;
    font-size: small;
    flex-shrink: 0;
}

.gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: linear-gradient(to right, transparent, transparent, var(--base03));
}

#header {
    background-color: var(--base02);
    border-bottom: 2px solid var(--yellow);
}

#postFlair,
#numComments,
#lastUpdated,
#commentDeltaHistory,
#currentHealth,
.commentDelta,
.author,
.content {
    margin: 4px;
}

#commentCount {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
}

#statusBar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8pt;
}

#statusBar > .contentWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#statusBar.idle {
    background-color: var(--base03);
    border-top: 2px solid var(--yellow);
}

#statusBar.watching {
    background-color: var(--green);
    border-top: 2px solid var(--yellow);
}

.clock {
    margin-right: 32px;
    float: right;
}

@media (min-width: 600px) {
    #postTitleWrapper {
        flex-direction: row;
    }
}